# Institutions participating in proposal
# From this can be derived facilities and sow sections and various tables
#
# Entries here should be in the order in which you want them to appear
# in the proposal, generally alphabetical.
#
# Acronym command|Short name|Full name|Funding status
# 
# Acronym command: by convention, all lowercase
# Filename to include in generated code is same as acronym command.
# Funding status: f=funded participant, u=unfunded collaborator
# 
io|Inst.~1|Institution One|f
ib|IB|Institution Bee|f
