# Personnel participating in proposal
# From this can be derived facilities and sow sections and various tables
#
# Entries here should be in the order in which you want them to appear
# in the proposal, generally alphabetical.
#
# File format:
# Last name|First name|Institution acronym|Role|Email|Phone|Fax
#
# Institution acronym should match that in institutions.config (not checked)
# Roles: lpi = Lead-PI, cpi=Co-PI, sp=Senior Personnel (not checked)
# Email: for lead PI and in some FOAs for co-PIs
# Phone: typically needed only for lead PI
# Fax: typically needed only for lead PI
#
# Filename to include in generated code is lowercased last name.  In
# order to ensure compatability with various OSes, all characters
# EXCEPT alphanumerics are elided from the filename.  For example, a
# last name entered as "Chavarr\'\i a-Miranda" will produce a filename
# "chavarriamiranda".
#
Investigator|A. Co|io|cpi|investigatora@ornl.gov|865-574-1000|865-576-1000
Honcho|Head|ib|lpi|boss@example.com|812-555-1212|812-555-2121
Member|A. Staff|io|sp
Person|Random|ib|sp
